<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" onclick="navegar(event, '../gestor/dashboard-gestor.html')">
                <i data-feather="home"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="rankingLink" onclick="navegar(event, '../gestor/ranking-lojas.html')">
                <i data-feather="bar-chart-2"></i>
                Ranking
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="metasLink" onclick="navegar(event, '../gestor/gestao-metas.html')">
                <i data-feather="target"></i>
                Gestão de Metas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="desafiosLink" onclick="navegar(event, '../gestor/controle-desafios.html')">
                <i data-feather="award"></i>
                Controle de Desafios
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="historicoLink" onclick="navegar(event, '../gestor/historico-tendencias.html')">
                <i data-feather="trending-up"></i>
                Histórico e Tendências
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="recompensasLink" onclick="navegar(event, '../gestor/gestao-recompensas.html')">
                <i data-feather="gift"></i>
                Gestão de Recompensas
            </a>
        </li>
    </ul>
</div>